img.eq-link-icon {
  border: 0;
  height: 24px;
  margin-right: 0px;
  vertical-align: bottom;
  width: 24px;
}

.highcharts-container {
  width: 100% !important;
}

.highcharts-root {
  width: 100% !important;
}

td > a[data-zam-modified]:first-of-type {
  position: absolute;
}

/* width */
div::-webkit-scrollbar {
  width: 5px;
}

/* Track */
div::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: #999;
}
